body{
  background-color:#ffff;
}

.flexbox{
  display: flex;
  justify-content: space-around;
}
.navbar{
  background-color: #00587a;
}
.navbar-brand{
  font-size: 1.5rem;
}
.navbar-nav > li{
  padding-left:100px;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #e8e8e8;
  overflow-x: hidden;
  padding-top: 25px;
  margin-top: 5%;
}

.sidenav a {
  padding: 20px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.25rem;
  color: #000;
  display: block;
}

.flexbox-container{
  display:flex;
  justify-content: center;
}
.questionBox{
  margin-top: 2%;
}
textarea::placeholder{
  font-size:1.5rem;
}
