body{
  background-image: url("../image/pattern.jpg");
  background-size: cover;
  background-color: #7e8a97;
}
h1{
  color: #000;
  font-size: 4rem;
  padding-bottom: 1rem;
}
.container{
  align-self: center;
  margin-top: 17%;
  margin-left: 30%;
}

.btn-pill {
  border-radius: 30px;
}
.stud_btn{
  position: absolute;
left: 42%;
}

.teach_btn{
  position: absolute;
left: 52%;
}
