
body {
  background-image: url("../image/pattern.jpg");
}
.btn {
  background-color: #000;
  padding-bottom: 10px;
  color: #ffff;
}

.btn:hover {
  background-color: #3b6978;
  color: #ffff;
}

.btn-pill {
  border-radius: 30px;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}
.flex-button{
  display: flex;
  align-self:center;
  justify-content: flex-end;
  align-items: center;
}
