body{
  background-color:#ffff;
}

/* header{
  display: flex;
  justify-content: space-around;
} */
.navbar-brand{
  font-size: 1.6rem;
  color: white;
  font-weight:600;
}
.navbar-brand span{
  font-size: 1.6rem;
  color: #00adb5;
  font-weight:600;
}
.nav-link{
  color: #99a8b2;
  font-size: 1rem;
}
.active{
  color:#fff;
}
.nav-tabs{
  border-bottom: 0;
}
.nav-link:hover{
  color: #00adb5;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 25px;
  margin-top: 5%;
}

.sidenav a {
  padding: 20px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.25rem;
  color: #000;
  display: block;
}

.flexbox-container{
  display:flex;
  justify-content: center;
}
.questionBox{
  margin-top: 2%;
  text-align: center;
}
textarea::placeholder{
  font-size:1.5rem;
}
