body{
  background-color:#ffff;
}
.navbar-brand{
  font-size: 1.6rem;
  color: white;
  font-weight:600;
}
.navbar-brand span{
  font-size: 1.6rem;
  color: #00adb5;
  font-weight:600;
}
.nav-link{
  color: #99a8b2;
  font-size: 1rem;
}
.active{
  color:#fff;
  background-color: #00adb5;
}
.nav-tabs{
  border-bottom: 0;
}
.nav-link:hover{
  color: #00adb5;
}

.sidenav {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 25px;
  margin-top: 5%;
}
.sidenavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidenav a {
  padding: 20px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.25rem;
  display: block;
  cursor: pointer;
}
.side-link {
  color: #000;
}
ul li a.activeCourse{
  background-color:#3b6978;
  color: #fff;
  border-radius: 3px;
}
ul li a.active{
  background-color:#00adb5;
    color: #fff;
    border-radius: 3px;
}
.sidenav a:hover {
  color:#00adb5;
}
.flexbox{
  display:flex;
  justify-content: center;
  align-content: center;
}
h5{
  padding-top: 30px;
  padding-left:325px;
}
.quesCont{
  padding-top: 10px;
  width: 50%;
}

.flexbox-container{
  display:flex;
  justify-content: center;
  align-content: center;
}
label{
  font-size: 1.25rem;
  font-weight:500;
}
.questionBox{
width: 50%;
padding-top: 30px;
}
.ansBox{
width: 50%;
padding-top: 30px;
}
.question-link{
  color: #000;
}
.question-link:hover{
  color: #000;
}
.btn {
  background-color: #008080;
  padding-bottom: 10px;
  color: #ffff;
}

.btn:hover {
  background-color: #3b6978;
  color: #ffff;
}
.btn-pill {
  border-radius: 20px;
}
.container-sm{
width: 50%;
}
h6{
color:#00adb5;
}
.h5teacher{
  color: green;
}
h5{
  color: #3b6978;
}
.h6teacher{
  color: #2d6187
}
.ansMore{
  color: grey;
}
