
.front-page {
  background-image: url("../image/study.jpg");
  background-size: cover;
  background-color: #7e8a97;
}
.navbar{
  padding-top:1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.75rem;
}
.navbar-brand{
  font-size: 1.75rem;
}

.page-container {
  position: relative;
  top: -40px;
}

.btn {
  background-color: #008080;
  padding-bottom: 10px;
  color: #ffff;
}

.btn:hover {
  background-color: #3b6978;
  color: #ffff;
}

.btn-pill {
  border-radius: 30px;
}

.form-box {
  align-items: center;
}

.form-box {
  border-radius: 7px;

  margin-top: 35%;
  margin-right: 6%;
  margin-bottom: 3%;
  padding: 5%;
}
span{
  color: green;
  display: none;
}
.reg-form{
  width: 100%;
  height:100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.reg-content{
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 50px;
}
select{
  width: 50%;
  display: block;
  margin: 30px auto;
  border-radius: 4px;
  font-size: 1.15rem;
}
